# Dependency directories
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Editor files
.vscode/
.DS_Store

# OS/IDE files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#added .env file that stores mongoDB connection string
server/.env